<app-layout>
  <app-back-nav backLink="/notes/angular" backText="Back to Angular" />
  <app-topic-header 
    title="Angular Signals" 
    description="New reactive primitives for state management" 
  />

  <app-info-box title="Video References" type="purple">
    <ul class="space-y-2">
      <li *ngFor="let ref of reference">
        <a [href]="ref.url" target="_blank" class="text-blue-400 hover:text-blue-300 underline">
          {{ ref.title }}
        </a>
      </li>
    </ul>
  </app-info-box>

  <app-content-section title="Basic Signal">
    <app-code-block [code]="basicExample.code" [output]="basicExample.output" />
  </app-content-section>

  <app-content-section title="Computed Signals">
    <app-code-block [code]="computedExample.code" [output]="computedExample.output" />
  </app-content-section>

  <app-content-section title="Effects">
    <app-code-block [code]="effectExample.code" [output]="effectExample.output" />
  </app-content-section>

  <app-content-section title="Updating Signals - set() Method">
    <app-code-block [code]="setMethodExample.code" [output]="setMethodExample.output" />
  </app-content-section>

  <app-content-section title="Updating Signals - update() Method">
    <app-code-block [code]="updateMethodExample.code" [output]="updateMethodExample.output" />
  </app-content-section>

  <app-content-section title="Signal Methods">
    <app-code-block [code]="updateExample.code" [output]="updateExample.output" />
  </app-content-section>

  <app-content-section title="Writable Signals">
    <app-code-block [code]="writableExample.code" [output]="writableExample.output" />
  </app-content-section>

  <app-content-section title="Signal Data Types">
    <app-code-block [code]="dataTypesExample.code" [output]="dataTypesExample.output" />
  </app-content-section>

  <app-content-section title="Signal Value Types">
    <app-code-block [code]="valueTypesExample.code" [output]="valueTypesExample.output" />
  </app-content-section>

  <app-content-section title="set() vs update() - When to Use">
    <app-code-block [code]="setVsUpdateExample.code" [output]="setVsUpdateExample.output" />
  </app-content-section>

  <app-info-box title="When to Use set()" type="purple">
    <ul class="list-disc list-inside space-y-2">
      <li *ngFor="let item of whenToUseSet">{{ item }}</li>
    </ul>
  </app-info-box>

  <app-info-box title="When to Use update()" type="purple">
    <ul class="list-disc list-inside space-y-2">
      <li *ngFor="let item of whenToUseUpdate">{{ item }}</li>
    </ul>
  </app-info-box>

  <app-info-box title="Advantages" type="success">
    <ul class="list-disc list-inside space-y-2">
      <li *ngFor="let item of advantages">{{ item }}</li>
    </ul>
  </app-info-box>

  <app-info-box title="Disadvantages" type="warning">
    <ul class="list-disc list-inside space-y-2">
      <li *ngFor="let item of disadvantages">{{ item }}</li>
    </ul>
  </app-info-box>

  <app-info-box title="When to Use Signals" type="success">
    <ul class="list-disc list-inside space-y-2">
      <li *ngFor="let item of whenToUse">{{ item }}</li>
    </ul>
  </app-info-box>

  <app-info-box title="When NOT to Use Signals" type="error">
    <ul class="list-disc list-inside space-y-2">
      <li *ngFor="let item of whenNotToUse">{{ item }}</li>
    </ul>
  </app-info-box>

  <app-info-box title="Best Practices" type="info">
    <ul class="list-disc list-inside space-y-2">
      <li *ngFor="let item of bestPractices">{{ item }}</li>
    </ul>
  </app-info-box>
</app-layout>
